<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>example - cms</title>
    <% if (env === "production") { %>
        <link rel="stylesheet" href="/cms/index.css">
    <% } %>
</head>
<body>
    <title>ToyBoxCMS</title>
    <script src="/cms/bundle.js"></script>
    <% if (env !== "production" && reload === true) { %>
        <script src="/reload/reload.js"></script>
    <% } %>
    <nav class="nav l-toybox_nav">
        <div class="nav-left">
            <a class="nav-item">
            <!--
            <img src="toybox.svg" width="50px" height="50px">
            -->
            <span class="c-toybox_name">
                ToyBox
            </span>
            </a>
        </div>

        <div class="nav-center">
            <a class="nav-item c-toybox_target">
                Edit Target
            </a>
        </div>
        <span class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
        </span>
        <div class="nav-right nav-menu">
            <!--このボタンはコンテンツエディットの時限定にする？-->
            <div class="nav-item">
                <div class="field is-grouped">
                    <p class="control">
                        <a class="c-toybox_saveButton button" >
                            <span class="icon">
                                <i class="fa fa-floppy-o"></i>
                            </span>
                            <span class="description">
                                保存
                            </span>
                        </a>
                    </p>
                    <p class="control">
                        <a class="c-toybox_deleteButton button">
                            <span class="icon">
                                <i class="fa fa-cut"></i>
                            </span>
                            <span class="description">
                                削除
                            </span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </nav>
    <div class="f-toybox_base-container">
        <div class="f-toybox_side-container">
            <div class="l-toybox_side is-active">
                <div class="c-toybox_siteTitleBar">
                    <div class="c-toybox_siteTitle is-edit">
                        <span class="icon">
                            <i class="fa fa-caret-down"></i>
                        </span>
                        <span class="description">
                        This is super great web site
                        <span>
                    </div>
                    <div class="c-toybox_sideToolbar is-active">
                        <span class="icon">
                            <i class="fa fa-plus"></i>
                            <i class="fa fa-folder"></i>
                        </span>
                        <span class="icon">
                            <i class="fa fa-plus"></i>
                            <i class="fa fa-file"></i>
                        </span>
                        <span class="icon">
                            <i class="fa fa-plus"></i>
                            <i class="fa fa-gear"></i>
                        </span>
                    </div>
                </div>
                <div class="l-toybox_fileTree">
                    <div class="c-toybox_treeItem c-toybox_dir">
                        <div class="c-toybox_dirName">
                            <span class="icon">
                                <i class="fa fa-folder-open"></i>
                            </span>
                            <span class="description">
                                Test Open Folder
                            <span>
                        </div>
                        <div class="l-toybox_files">
                            <div class="c-toybox_treeItem c-toybox_file">
                                <span class="icon">
                                    <i class="fa fa-file"></i>
                                </span>
                                <span class="description">
                                    Test File 1
                                <span>
                            </div>
                            <div class="c-toybox_treeItem c-toybox_file">
                                <span class="icon">
                                    <i class="fa fa-file"></i>
                                </span>
                                <span class="description">
                                    Test File 2
                                <span>
                            </div>
                            <div class="c-toybox_treeItem c-toybox_dir">
                                <div class="c-toybox_dirName">
                                    <span class="icon">
                                        <i class="fa fa-folder-open"></i>
                                    </span>
                                    <span class="description">
                                        Test Open Folder
                                    <span>
                                </div>
                                <div class="l-toybox_files">
                                    <div class="c-toybox_treeItem c-toybox_file">
                                        <span class="icon">
                                            <i class="fa fa-file"></i>
                                        </span>
                                        <span class="description">
                                            Test File 3
                                        <span>
                                    </div>
                                    <div class="c-toybox_treeItem c-toybox_file">
                                        <span class="icon">
                                            <i class="fa fa-file"></i>
                                        </span>
                                        <span class="description">
                                            Test File 4
                                        <span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="c-toybox_treeItem c-toybox_config">
                        <span class="icon">
                            <i class="fa fa-gear"></i>
                        </span>
                        <span class="description">
                            Test Config
                        <span>
                    </div>
                </div>
            </div>
            <div class="l-toybox_sideResizer">
                <div class="l-toybox_sideResizeToggle">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="f-toybox_mainView-container">
            <div class="l-toybox_mainResizeArea is-config"></div>
            <div class="l-toybox_mainView">
                <!--file edit画面
                <div class="l-toybox_configEditArea">
                    <div class="c-toybox_configTitle">
                        <span class="icon">
                            <i class="fa fa-file"></i>
                        </span>
                        <span class="description">
                            File
                        <span>
                    </div>
                    <div class="l-toybox_configPropEditArea">
                        <div class="c-toybox_configPropTitle">
                            <span class="icon">
                                <i class="fa fa-tags"></i>
                            </span>
                            <span class="description">
                                Tag
                            <span>
                        </div>
                        <div class="c-toybox_itemTagConfigs">
                            <div class="c-toybox_tagConfig">
                                <div class="c-toybox_configPropTitleContainer">
                                    <div class="c-toybox_configPropTitle is-active">
                                        test tag
                                    </div>
                                </div>
                                <div class="c-toybox_taglist">
                                    <span class="tag is-primary">
                                        <span class="description">
                                        Primary
                                        </span>
                                        <button class="delete is-small"></button>
                                    </span>
                                    <span class="tag is-primary">
                                        <span class="description">
                                        Primary
                                        </span>
                                        <button class="delete is-small"></button>
                                    </span>
                                    <span class="tag is-primary">
                                        <span class="description">
                                        Primary
                                        </span>
                                        <button class="delete is-small"></button>
                                    </span>
                                    <span class="tag is-primary">
                                        <span class="description">
                                        Primary Test
                                        </span>
                                        <button class="delete is-small"></button>
                                    </span>
                                </div>
                                <div class="c-toybox_addTagItem">
                                    <a class="icon c-toybox_addSelectTag">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                    <p class="control">
                                        <span class="select is-small">
                                        <select class="c-toybox_selectTags">
                                            <option>おすすめ記事</option>
                                            <option>おためし記事</option>
                                        </select>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="c-toybox_tagConfig">
                                <div class="c-toybox_configPropTitleContainer">
                                    <div class="c-toybox_configPropTitle is-active">
                                        test tag
                                    </div>
                                </div>
                                <div class="c-toybox_taglist">
                                    <span class="tag is-primary">
                                        <span class="description">
                                        Primary
                                        </span>
                                        <button class="delete is-small"></button>
                                    </span>
                                    <span class="tag is-primary">
                                        <span class="description">
                                        Primary
                                        </span>
                                        <button class="delete is-small"></button>
                                    </span>
                                    <span class="tag is-primary">
                                        <span class="description">
                                        Primary
                                        </span>
                                        <button class="delete is-small"></button>
                                    </span>
                                    <span class="tag is-primary">
                                        <span class="description">
                                        Primary Test
                                        </span>
                                        <button class="delete is-small"></button>
                                    </span>
                                </div>
                                <div class="c-toybox_addTagItem">
                                    <a class="icon c-toybox_addSelectTag">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                    <p class="control">
                                        <span class="select is-small">
                                        <select class="c-toybox_selectTags">
                                            <option>おすすめ記事</option>
                                            <option>おためし記事</option>
                                        </select>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="l-toybox_configPropEditArea">
                        <div class="c-toybox_configPropTitle is-active">
                            <span class="icon">
                                <i class="fa fa-link"></i>
                            </span>
                            <span class="description">
                                Link
                            <span>
                        </div>
                        <div class="c-toybox_itemLinkConfigs">
                            <div class="c-toybox_linkConfig">
                                <div class="c-toybox_configPropTitleContainer">
                                    <div class="c-toybox_configPropTitle is-active">
                                        test link
                                    </div>
                                </div>
                                <div class="c-toybox_linkedItems">
                                    <div class="c-toybox_linkedItem">
                                        <div class="c-toybox_linkedItemName">
                                            <span class="icon">
                                                <i class="fa fa-file"></i>
                                            </span>
                                            <span class="description">
                                                ギャラクティカマグナム
                                            <span>
                                        </div>
                                        <a class="c-toybox_linkedItemClose">
                                            <span class="icon">
                                                <i class="fa fa-times"></i>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="c-toybox_linkedItem">
                                        <div class="c-toybox_linkedItemName">
                                            <span class="icon">
                                                <i class="fa fa-file"></i>
                                            </span>
                                            <span class="description">
                                                ギャラクティカマグナム
                                            <span>
                                        </div>
                                        <a class="c-toybox_linkedItemClose">
                                            <span class="icon">
                                                <i class="fa fa-times"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="c-toybox_linkedItemDragArea">
                                    <span class="icon">
                                        <i class="fa fa-folder"></i>
                                    </span>
                                    <span class="icon">
                                        <i class="fa fa-file"></i>
                                    </span>
                                    <span class="description">
                                        Drag Item Here.
                                    <span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                -->

                <!--configEdit画面
                <div class="l-toybox_configEditArea">
                    <div class="c-toybox_configTitle">
                        <span class="icon">
                            <i class="fa fa-gear"></i>
                        </span>
                        <span class="description">
                            Config
                        <span>
                    </div>
                    <div class="l-toybox_configPropEditArea">
                        <div class="c-toybox_configPropTitle">
                            <span class="icon">
                                <i class="fa fa-tags"></i>
                            </span>
                            <span class="description">
                                Tag
                            <span>
                        </div>
                        <div class="c-toybox_tagConfigs">
                            <div class="c-toybox_tagConfig">
                                <div class="c-toybox_configPropTitleContainer">
                                    <div class="c-toybox_configPropTitle">
                                        test tag
                                    </div>
                                    <input class="c-toybox_configPropTitleInput is-active" value="test tag">
                                    <div class="c-toybox_configPropClose">
                                        <span class="icon">
                                            <i class="fa fa-times"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="c-toybox_taglist">
                                    <span class="tag is-primary">
                                        <span class="description">
                                        Primary
                                        </span>
                                        <button class="delete is-small"></button>
                                    </span>
                                    <span class="tag is-primary">
                                        <span class="description">
                                        Primary
                                        </span>
                                        <button class="delete is-small"></button>
                                    </span>
                                    <span class="tag is-primary">
                                        <span class="description">
                                        Primary
                                        </span>
                                        <button class="delete is-small"></button>
                                    </span>
                                    <span class="tag is-primary">
                                        <span class="description">
                                        Primary Test
                                        </span>
                                        <button class="delete is-small"></button>
                                    </span>
                                </div>
                                <a class="c-toybox_addTag">
                                    <span class="icon">
                                        <i class="fa fa-plus"></i>
                                    </span>
                                    <span class="description">
                                        タグを追加
                                    <span>
                                </a>
                                <div class="c-toybox_tagDetailConfig">
                                    <div class="c-toybox_tagMultiSelect">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                        複数選択可
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="c-toybox_tagConfig">
                                <div class="c-toybox_configPropTitleContainer">
                                    <div class="c-toybox_configPropTitle is-active">
                                        last christmas I gave you my heart
                                    </div>
                                    <input class="c-toybox_configPropTitleInput" value="test tag">
                                    <div class="c-toybox_configPropClose">
                                        <span class="icon">
                                            <i class="fa fa-times"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="c-toybox_taglist">
                                    <span class="tag is-primary">
                                        <span class="description">
                                        Primary
                                        </span>
                                        <button class="delete is-small"></button>
                                    </span>
                                    <span class="tag is-primary">
                                        <span class="description">
                                        Primary
                                        </span>
                                        <button class="delete is-small"></button>
                                    </span>
                                    <span class="tag is-primary">
                                        <span class="description">
                                        Primary
                                        </span>
                                        <button class="delete is-small"></button>
                                    </span>
                                    <span class="tag is-primary">
                                        <span class="description">
                                        Primary Test
                                        </span>
                                        <button class="delete is-small"></button>
                                    </span>
                                </div>
                                <a class="c-toybox_addTag">
                                    <span class="icon">
                                        <i class="fa fa-plus"></i>
                                    </span>
                                    <span class="description">
                                        タグを追加
                                    <span>
                                </a>
                                <div class="c-toybox_tagDetailConfig">
                                    <div class="c-toybox_tagMultiSelect">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                        複数選択可
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="c-toybox_configButton">
                            <span class="icon">
                                <i class="fa fa-tags"></i>
                            </span>
                            <span class="description">
                                新規タグを作成
                            <span>
                        </a>
                    </div>

                    <div class="l-toybox_configPropEditArea">
                        <div class="c-toybox_configPropTitle">
                            <span class="icon">
                                <i class="fa fa-link"></i>
                            </span>
                            <span class="description">
                                Link
                            <span>
                        </div>
                        <div class="c-toybox_linkConfigs">
                            <div class="c-toybox_linkConfig">
                                <div class="c-toybox_configPropTitleContainer">
                                    <div class="c-toybox_configPropTitle">
                                        test link
                                    </div>
                                    <input class="c-toybox_configPropTitleInput is-active" value="test link top of the world">
                                    <div class="c-toybox_configPropClose">
                                        <span class="icon">
                                            <i class="fa fa-times"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="c-toybox_linkDetailConfig">
                                    <div class="c-toybox_linkSelect">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                        フォルダと関連付け
                                        </label>
                                    </div>
                                    <div class="c-toybox_linkSelect">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                        ファイルと関連付け
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="c-toybox_configButton">
                            <span class="icon">
                                <i class="fa fa-link"></i>
                            </span>
                            <span class="description">
                                新規リンクを作成
                            <span>
                        </a>
                    </div>
                </div>
                -->

                <!--contentEdit画面-->
                <div class="l-toybox_mainEditArea">
                    <div class="c-toybox_editors">
                        <div id="component-edit0" class="c-toybox_editor">
                            <div class="c-toybox_editorHead editorHead">
                                <div class="editorTitle">
                                    markdown
                                </div>
                                <a class="c-toybox_editorClose">
                                    <span class="icon">
                                        <i class="fa fa-times"></i>
                                    </span>
                                </a>
                            </div>
                            <div class="c-toybox_editorEditArea">
                                editorEditArea
                            </div>
                        </div>
                    </div>
                </div>
                <div class="l-toybox_previewArea">
                    preview
                </div>
                
            </div>
        </div>
        <div class="l-toybox_fadeLayer">
        </div>
    </div>
</body>
</html>
