.c-toybox_siteTitleBar {
    border-bottom: groove 1px rgba(0, 0, 0, 0.15);
    background-color: #d8d8d8;
    display: flex;
}

.c-toybox_siteTitle.is-edit {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.c-toybox_sideToolbar {
    display: none;
    margin-left: auto;
}

.c-toybox_sideToolbar.is-active {
    display: block;
}

.c-toybox_sideToolbar .icon {
    width: 32px;
}

.c-toybox_sideToolbar .icon .fa.fa-plus {
    font-size: 12px;
    margin-right: 2px;
}


.c-toybox_treeItem {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.c-toybox_treeItem .description {
    font-size: 12px;
}

.c-toybox_treeItem .c-toybox_treeItem {
    padding-left: 16px;
}

.c-toybox_treeItemName:hover {
    background-color: #b8d8f8;
}

.c-toybox_treeItemName.is-target {
    background-color: #a8c8e8;
}

.c-toybox_treeItemName.is-edit span.description  {
    display: none;
}

.c-toybox_treeItemName input.description {
    display: none;
}

.c-toybox_treeItemName.is-edit input.description {
    display: inline;
}

.c-toybox_sideToolbar .addItemIcon:hover {
    color: #00d1b2;
}