.c-toybox_name {
    color: #ffffff;
    font-size: 24px;
}

.c-toybox_target {
    background-color: #4b4b4b;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 300px;
}

a.c-toybox_saveButton {
    background-color: #00d1b2;
    color: #eeeeee;
    border: none;
}

a.c-toybox_saveButton:hover {
    color: #0a0a0a;
}

a.c-toybox_deleteButton {
    background-color: #ff4488;
    color: #eeeeee;
    border: none;
}

a.c-toybox_deleteButton:hover {
    color: #0a0a0a;
}